@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Aplicar los conocimientos adquiridos sobre ASP .NET Core para desarrollar una aplicación
        web dinámica que incluya el uso de Razor Pages y la persistencia de datos mediante Entity
        Framework Core.
    </p>
    <p>
        La plataforma proporciona una experiencia de gestión integral para una tienda, facilitando las operaciones fundamentales de Crear, 
        Leer, Actualizar y Eliminar (CRUD). Con un enfoque simple y eficiente, los usuarios pueden administrar clientes, productos y pedidos, 
        cada uno con su respectivo detalle. La web se centra en la relación uno a varios, permitiendo a los usuarios añadir, editar y eliminar 
        información con facilidad.
    </p>

</div>
